html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
template,
[hidden] {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: bold;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  line-height: 1.333333333rem;
  font-size: 1rem;
  font-family: 'Merriweather', serif;
  color: #343344;
}
@media (min-width: 29.03444326687327rem) and (max-width: 46.97871637687203rem) {
  html {
    line-height: calc( 1.333333333rem + 0.284700667 * (( 100vw - 29.03444326687327rem )/17.944273109998758 ));
  }
}
@media (min-width: 46.97871637687203rem) {
  html {
    line-height: 1.618034rem;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-size: 1.777777776888889rem;
  line-height: 1.5927775420687rem;
  margin-bottom: 1rem;
  font-weight: 700;
  margin-top: 0;
}
@media (min-width: 29.03444326687327rem) and (max-width: 46.97871637687203rem) {
  h1 {
    font-size: calc( 1.777777776888889rem + 0.840256248267111 * (( 100vw - 29.03444326687327rem )/17.944273109998758 ));
  }
}
@media (min-width: 46.97871637687203rem) {
  h1 {
    font-size: 2.618034025156rem;
  }
}
@media (min-width: 29.03444326687327rem) and (max-width: 46.97871637687203rem) {
  h1 {
    line-height: calc( 1.5927775420687rem + 0.585680062170256 * (( 100vw - 29.03444326687327rem )/17.944273109998758 ));
  }
}
@media (min-width: 46.97871637687203rem) {
  h1 {
    line-height: 2.178457604238956rem;
  }
}
@media (min-width: 29.03444326687327rem) and (max-width: 46.97871637687203rem) {
  h1 {
    margin-bottom: calc( 1rem + 0 * (( 100vw - 29.03444326687327rem )/17.944273109998758 ));
  }
}
@media (min-width: 46.97871637687203rem) {
  h1 {
    margin-bottom: 1rem;
  }
}
h2 {
  font-size: 1rem;
  line-height: 1.5927775420687rem;
  font-weight: 400;
  margin: 0;
}
@media (min-width: 29.03444326687327rem) and (max-width: 46.97871637687203rem) {
  h2 {
    font-size: calc( 1rem + 0 * (( 100vw - 29.03444326687327rem )/17.944273109998758 ));
  }
}
@media (min-width: 46.97871637687203rem) {
  h2 {
    font-size: 1rem;
  }
}
@media (min-width: 29.03444326687327rem) and (max-width: 46.97871637687203rem) {
  h2 {
    line-height: calc( 1.5927775420687rem + 0.585680062170256 * (( 100vw - 29.03444326687327rem )/17.944273109998758 ));
  }
}
@media (min-width: 46.97871637687203rem) {
  h2 {
    line-height: 2.178457604238956rem;
  }
}
body {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
body > header {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 0px solid #85144b;
  border-width: 4px 0;
}
body {
  background-color: #eee;
}
::-moz-selection {
  background: #85144b;
  color: #fdfbf1;
}
::selection {
  background: #85144b;
  color: #fdfbf1;
}
.profile {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-self: center;
}
.profile__img {
  flex: 0 0 auto;
}
.profile__info {
  flex: 0 1 auto;
}
@media screen and (min-width: 46.97871637687203rem) {
  .profile {
    align-self: auto;
    flex-direction: row;
    padding: 2.618034025156rem 6.854102156874526rem 1rem 2.618034025156rem;
    border: 0 #85144b dashed;
    border-width: 0;
    border-right-width: 4px;
    border-left-width: 4px;
  }
}
.profile__img {
  width: 2.370370368592592rem;
  height: 2.370370368592592rem;
  margin-bottom: 0.7500000001875rem;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}
@media (min-width: 29.03444326687327rem) and (max-width: 46.97871637687203rem) {
  .profile__img {
    width: calc( 2.370370368592592rem + 1.86569769726667 * (( 100vw - 29.03444326687327rem )/17.944273109998758 ));
  }
}
@media (min-width: 46.97871637687203rem) {
  .profile__img {
    width: 4.236068065859262rem;
  }
}
@media (min-width: 29.03444326687327rem) and (max-width: 46.97871637687203rem) {
  .profile__img {
    height: calc( 2.370370368592592rem + 1.86569769726667 * (( 100vw - 29.03444326687327rem )/17.944273109998758 ));
  }
}
@media (min-width: 46.97871637687203rem) {
  .profile__img {
    height: 4.236068065859262rem;
  }
}
@media (min-width: 29.03444326687327rem) and (max-width: 46.97871637687203rem) {
  .profile__img {
    margin-bottom: calc( 0.7500000001875rem + -0.131966015734763 * (( 100vw - 29.03444326687327rem )/17.944273109998758 ));
  }
}
@media (min-width: 46.97871637687203rem) {
  .profile__img {
    margin-bottom: 0.618033984452737rem;
  }
}
@media screen and (min-width: 46.97871637687203rem) {
  .profile__img {
    margin-bottom: 0;
    margin-right: 1rem;
  }
}
.profile__img:hover {
  box-shadow: 1px 1px 2px #d4d5ff;
}
.profile__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
