body
    background-color: $colors['silver']

// custom selection colors
::-moz-selection
    background: $colors.accent
    color: $colors.canvas

::selection
    background: $colors.accent
    color: $colors.canvas
