//    creates 
// ===STRIPED===
//     text
.striped{
  &:after,
  &:before{
    content: " ";
    display: inline-block;
    vertical-align: middle;
    position: relative;

    border-style: solid none;
    border-width: 1px 0;
    border-color:#666;

    width: 1.5rem;
    height: .1778 * 3 / 2 * 1em;
  }
  
  &:after{left:.1778 * 2 * 1em;}
  &:before{right:.1778 * 2 * 1em;}
}

//#main-nav
.og-tiles{
	@extend %g;
	@extend %ta--c;
	
	&>li{
		@extend %gi;
		@extend %col--12-12;
		@extend %col--sm--1-3;
		@include mq('sm', 'end_of'){
			max-width: $bp_xs;
		}
		&>a{
			background-clip: padding-box;
			@include mq('md'){
				margin-left: 1.5rem;
				margin-right: 1.5rem;
				
			}
			padding: 1.5rem .5em;
			display: block;
		}
	}
}

//links
.og-link--active,
%active-link{
	border-bottom: 1px solid $accent;
}

//
#main-nav{
	text-align: right;

	.active{
		margin-bottom: -1px;
		& a>span{@extend %active-link;} 
	}	
}

//picture
.og-pic img{
	box-shadow: 1px 1px 3px $med;
}

//brand
.brandname{
//	text-shadow: 1px 1px 1px $accent;
}