$base-font-family ?= serif
$base-text-color ?= #333333
$headings-font-family ?= sans-serif

html
  ms-respond(line-height, 1)
  font-size ms(0)
  font-family $base-font-family
  color $base-text-color

h1, h2, h3, h4, h5, h6
  font-family $headings-font-family

h1
  ms-respond(font-size, 2)
  ms-respond(line-height, $ms-ratio)
  ms-respond(margin-bottom, 0)
  font-weight 700
  margin-top 0

h2
  ms-respond(font-size, 0)
  ms-respond(line-height, $ms-ratio)
  font-weight 400
  margin 0
