{
    "profile": {
        "fullname": "Oscar <br /> Gonzalez",
        "description": "fullstack developer",
        "imgSrc": "/img/oscar-gonzalez.jpg",
        "imgAlt": "Oscar Gonzalez is an experienced web software developer."
    },
    "info": {
        "github": "oscar-g"
    },
    "site": {
        "url": "http://oscargonzalez.info/"
    }
}
