// measured containers

$measure($bp)
  $m = $ms($bp-list[$bp]['measure'])
  $to-rem($m, max-width)

for $bp, $config in $bp-list
  if ($config.measure isnt null)
    .measure--{$bp}
      $measure($bp)
