$card_bp: 'sm';
$card-size: ms(12)/$base-font-size*1em;
.brand{
	&>*{
		@extend %gi;
		@extend %col--2-2;
		vertical-align: middle;
	}
};
	.brand--short{
		text-align: center;
		@include mq('sm'){
			text-align: left;
			padding-left: $safe-space;
		}
		
		&>.og-pic{
			@extend %col--sm--1-6;
//			img {margin-bottom: $safe-space;}
		}
		
		&>.brandname{
			@extend %col--sm--2-3;
			//vertical-align: top;
		}
		&>#main-nav{
			@extend %col--sm--1-6
		}
		
	}

.brandname{
	max-width: $card-size;
}

/*the intro card thing */
.og-card{
	text-align: center;
	max-width: $bp_sm*1rem/1em;
	@include margin-trailer(1, $base-font-size);
	@include mq($card_bp){
		text-align: left;
		@include margin-trailer(0, $base-font-size);
	}
}
	.og-card__intro{
		
		@include mq($card_bp){
			&>.delta{padding-left: 1rem}
			padding-left: 4rem;
			&>.gamma{padding-left: 1.25rem}
		}
	}
	.og-card__slogan{
		>span{display: block;}
		text-align: inherit;

		@include mq('sm'){
			position: relative;
			left: 50%;
		}
		@include mq('md'){
			text-align: inherit;
			left: 3rem;
			
		}
	}


/*my picture*/
.og-pic{
//	vertical-align: bottom;
	img{ 
		border-radius: 50%;
		padding-top: 0.25rem/2;
//		margin-bottom: 1.75rem;
	}
	
	max-width: ms(9)/$base-font-size*1em;
	@include mq($card_bp){
//		max-width: $bp_xs;
		padding-top: $safe-space * 2;
	}
	@include mq('md'){
		max-width: $bp_xs;
//		margin-top: $safe-space * 2;
	}
	
	.brand--short & {
		padding-top:0rem;
		
		max-width: ms(9)/$base-font-size*1em;
		@include mq('md'){
//			max-width: 15rem;
		}
	}
}



.slogan>span{display: block;}