extends ../layout

block title
  title Home

block header
  header(itemtype='https://schema.org/Person' itemscope)
    .profile
      .profile__img(itemprop='image' itemscope itemtype='http://schema.org/ImageObject')
        img(src=profile.imgSrc alt=profile.imgAlt itemprop='contentUrl')
      .profile__info
        h1(itemprop='name') !{profile.fullname}
        h2(itemprop='description')= profile.description

//- block content
  main
    section
      p About me
      p Contact me
    article
      h1 Dolor sit amet
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
