extends ../layout.jade

block title
  title Home
    
block content
  main(itemtype='https://schema.org/Person' itemscope)
    section#introduction
      div.profile
        .profile__intro
          .profile__intro__pic(itemprop='image' itemscope itemtype='http://schema.org/ImageObject')
            img(src='img/oscar-gonzalez.jpg' itemprop='contentUrl')
          h1.profile__intro__name(itemprop='name') Oscar Gonzalez
        .profile__description(itemprop='description')
          p.lede I'm a software developer with a multidisciplinary background.
