if $debug isnt true
    @css {
      html {
        min-height: 100%;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bbd5e9+23,dae4eb+90 */
      background: #bbd5e9; /* Old browsers */
      background: -moz-linear-gradient(-45deg,  #bbd5e9 23%, #dae4eb 90%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg,  #bbd5e9 23%,#dae4eb 90%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg,  #bbd5e9 23%,#dae4eb 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbd5e9', endColorstr='#dae4eb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


         background-attachment: fixed;
      }      
    }
