// $debug = true

// content-based standard breakpoints
$bp-list ?= {
  // xs: {
  //   measure: 8,
  //   baseline: 12
  // },
  // sm: {
  //   measure: 9,
  //   baseline: 12
  // },
  md: {
    measure: 10,
    baseline: 16
  },
  lg: {
    measure: 11,
    baseline: 20
  }
  xlg: {
    measure: 12,
    baseline: 24
  }
}

$brand =  #dae4eb
@import 'framework/main'

if $debug isnt true
    html
      min-height 100%
      background $brand
      background -moz-linear-gradient(top, #dae4eb 0%, #bbd5e9 100%)
      background -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dae4eb), color-stop(100%, #bbd5e9))
      background -webkit-linear-gradient(top, #dae4eb 0%, #bbd5e9 100%)
      background -o-linear-gradient(top, #dae4eb 0%, #bbd5e9 100%)
      background -ms-linear-gradient(top, #dae4eb 0%, #bbd5e9 100%)
      background linear-gradient(to bottom, #dae4eb 0%, #bbd5e9 100%)
      filter unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#dae4eb', endColorstr='#bbd5e9',GradientType=0 )")
      background-attachment fixed


.profile
  @extend .cf
  width 100%
  max-width 52rem

  if $debug isnt true
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)

  a
    float left
    display block
    padding-top $computed-line-height
    margin-right @padding-top / 2
    padding-top $to-rem(@padding-top)
    margin-right $to-rem(@margin-right)

  &__pic
    display block
    width 100%
    height auto
    max-width $computed-line-height * 10 - 1
    border-radius (@max-width / 2)
    max-width $to-rem(@max-width)
    border-radius (@max-width / 2)
    box-shadow 1px 1px 3px $text-color
    border-radius 50%

  &__description
    text-align center
    // padding-top $computed-line-height * 1
    // padding-top $to-rem(@padding-top)
