@import '../../node_modules/normalize-styl'
@import '../../node_modules/modularscale-styl/stylesheets/_modular-scale'

@import 'vars'
@import 'mixins/mq'
@import 'base/typography'
@import 'base/layout'

// theme
@import 'modules/bg'
@import 'modules/profile'

if $debug
  body
    border: 3px solid black;

    +mq(sm)
      border-color: red;

    +mq(md)
      border-color: green;

    +mq(lg)
      border-color: blue;

    +mq(xl)
      border-color: yellow;
