$debug = false
$base-font-family = 'Merriweather', serif
$headings-font-family = 'Montserrat', sans-serif

// breakpoint name ---> modular scale step
$breakpoints = {
  sm: 7
  md: 8
  lg: 9
  xl: 10
}

$ms-base = 1rem
$ms-ratio = $golden
$ms-range = $fourth ms($breakpoints.sm), $golden ms($breakpoints.md)
$ms-fluid = true

$breakpoint-scale = {
  base: $major-third
  md: $golden
}

$containers = {
  xs: 5
  sm: 6
  md: 7
}

$colors = {
  white: #F6F6FF
  black: #334
  shadow: #D4D5FF
  canvas: #fdfbf1
  slate: slategray
  dkred: darkred
}

$base-text-color = $colors['black']
// mrmrs/colors
// .navy { color: #001F3F; }
// .blue { color: #0074D9; }
// .aqua { color: #7FDBFF; }
// .teal { color: #39CCCC; }
// .olive { color: #3D9970; }
// .green { color: #2ECC40; }
// .lime { color: #01FF70; }
// .yellow { color: #FFDC00; }
// .orange { color: #FF851B; }
// .red { color: #FF4136; }
// .fuchsia { color: #F012BE; }
// .purple { color: #B10DC9; }
// .maroon { color: #85144B; }
// .white { color: #FFFFFF; }
// .silver { color: #DDDDDD; }
// .gray { color: #AAAAAA; }
// .black { color: #111111; }