/*constants/units*/
  $base-font-size: 16px;
  $base-line-height: 24px;
  $rhytmn-unit: 'em';
  
  //modular scale  
  @import 'modular-scale';
  $ms-base: $base-font-size $base-line-height;
  $ms-ratio: $minor-seventh;

  $base-font-stack: Helvetica, Arial, sans-serif;
  $alt-font-stack: Georgia, Times, serif;

  //set up fonts
  $body:(
    "size": 0,
    "lead": 0,
    "trail": 1,
    'class': body,
    'el': p,
    'lines': 1
  )!default;

  $lead:(
    "size": 1,
    "lead": 0,
    "trail": 0,
    'class': lead
  )!default;

  //headings
  $h1:(
    "size":  5,
    "lead":  0,
    "trail": 0,
    'class': alpha,
    'el': h1
  )!default;
  $h2:(
    "size":  3,
    "lead":  0,
    "trail": 0,
    'class': beta,
    'el': h2
  )!default;
  $h3:(
    "size":  2,
    "lead":  0,
    "trail": 0,
    'class': gamma,
    'el': h3
  )!default;
  $h4:(
    "size":  1,
    "lead":  0,
    "trail": 0,
    'class': delta,
    'el': h4
  )!default;
  $h5:(
    "size":  0,
    "lead":  0,
    "trail": 0,
    'class': epsilon,
    'el': h5
  )!default;
  $h6:(
    "size":  -1,
    "lead":  0,
    "trail": 0,
    'class': zeta,
    'el': h6
  )!default;

  //large
  $giga:(
    "size":  11,
    "lead":  0,
    "trail": 0,
    'class': giga
  )!default;
  $mega:(
    "size":  9,
    "lead":  0,
    "trail": 0,
    'class': mega
  )!default;
  $kilo:(
    "size":  7,
    "lead":  0,
    "trail": 0,
    'class': kilo
  )!default;

  //small
  $mini:(
    "size":  -2,
    "lead":  0,
    "trail": 0,
    'class': mini
  )!default;
  $milli:(
    "size":  -3,
    "lead":  0,
    "trail": 0,
    'class': milli
  )!default;


$label:(
		"size":  1,
		"lead":  0,
		"trail": 0,
		"lines": 1,
		'class': label,
		'el': label
	)!default;

$list:(
		"size":  0,
		"lead":  0.25,
		"lines": 1,
		"trail": 0.75,
		'class': list,
		'el': ul
	)!default;
$list-item:(
		"size":  0,
		"lead":  0,
		"lines": 1,
		"trail": 0,
		'class': list__item,
		'el': li
	)!default;
/*Responsive constants*/
//TODO: these should be rems!
//TODO: possible new structure
  // $bp-sm: (
  //   'ns': 'sm',
  //   'size': 10,  //for use in min-width mq
  //   'max':  11,  //for use in layout-related max-width property
  //   'meas':  6,  //for use in typographic measure max-width property
  //   'font': -2,  //an offset of $base-font-size for the html element at this min-width mq
  // );

  $bp_xs:   ms(10)/$base-font-size*1em!default;
  $bp_sm:   ms(11)/$base-font-size*1em!default;
  $bp_md:   ms(12)/$base-font-size*1em!default;
  $bp_lg:   ms(14)/$base-font-size*1em!default;
  $bp_xlg:  ms(15)/$base-font-size*1em!default;
  

/*layout*/
//TODO: These should me rems!

// $layout_bp: 'md';
$layout_max: $bp_md;

$measure_limit_sm: $bp_sm!default;
$measure_limit_md: $bp_md!default;
$measure_limit_lg: $bp_lg!default;

$measure_2col_bp: 'lg'!default;
$measure_2col_max: $bp_lg!default;

$measure_3col_bp: 'lg'!default;
$measure_3col_max: $bp_xlg!default;


//namespaces for helper classes and % selectors
$ns_clear: 'cl--'!default;
$ns_float: 'fl--'!default;
$ns_align: 'al--'!default;
$ns_text-align: 'al--'!default;


/*Grid*/
  $grid-ns: "g"!default;
  $grid-item-ns: "gi"!default;//used for all other column styles
  $grid-col-ns: "col"!default;//used for width, push, and pull

  // $col-groups are the column groups you want
  // For example, $col-groups: (3, 4, 5) will output:
  // .col--n-of-3, .col--n-of-4, [...]
  $col-groups: (2, 3, 4, 5, 6, 8, 12)!default;

  // Gutter width
//  $gutter-width: 24px!default;
